amqp==5.2.0
asgiref==3.8.1
billiard==4.2.1
bleach==6.2.0
braintree==4.31.0
celery==5.4.0
certifi==2024.8.30
channels==4.1.0
channels-redis==4.2.0
charset-normalizer==3.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
Django==5.1.2
django-anymail==12.0
django-autocomplete-light==3.11.0
django-mailer==2.3.2
django-parler==2.3
django-paypal==2.1
django-post-office==3.9.0
django-render-block==0.10
django-tailwind==3.8.0
django-templated-email==3.0.1
idna==3.10
kombu==5.4.2
lockfile==0.12.2
msgpack==1.1.0
mysqlclient==2.2.5
prompt_toolkit==3.0.48
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
pytz==2024.2
razorpay==1.4.2
redis==5.2.0
requests==2.32.3
sentry-sdk==2.18.0
six==1.16.0
sqlparse==0.5.1
stripe==11.1.1
tinycss2==1.4.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
webencodings==0.5.1
