{% extends "layout.html" %}

{% load static %}

{% block head %}
    <title>Contact - DoorstepDine</title>
{% endblock %}

{% block content %}
    <header class="text-center mb-6">
        <h1 class="text-3xl font-bold">Contact Us - DoorstepDine</h1>
    </header>

    <div class="contact-container mx-auto max-w-2xl text-center">
        <h2 class="text-2xl mb-4">We'd Love to Hear From You!</h2>
        <div class="contact-details">
            <p class="mb-2">For any inquiries, feedback, or support, feel free to reach out to us through the following channels:</p>
            
            <p class="font-semibold">Email Us:</p>
            <p>
                <a href="mailto:dhamijasurvesh@gmail.com" class="text-blue-500 hover:underline">dhamijasurvesh@gmail.com</a>
            </p>
            <p>
                <a href="mailto:suhanilove0505@gmail.com" class="text-blue-500 hover:underline">suhanilove0505@gmail.com</a>
            </p>

            <p class="font-semibold mt-4">Call Us:</p>
            <p class="text-lg">+91 7668788243</p>
        </div>
    </div>

    <footer class="text-center mt-8">
        <p>&copy; 2024 DoorstepDine. All Rights Reserved.</p>
    </footer>
{% endblock %}
